# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Uploaded images
backend/uploads/*

# Face embeddings
backend/data/embeddings/*

# Dataset images
dataset/missing/*
dataset/found/*
!dataset/missing/.gitkeep
!dataset/found/.gitkeep

# Image files
*.jpg
*.jpeg
*.png

# IDE
.vscode/
.idea/